ops/blueprints/2- Extraction RI.blueprint.json
{
    "name": "2- Extraction RI",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "apprtejZaap5ouqGm",
                "view": "viwuVxISTltGGGqeG",
                "table": "tblh45gV9PZcN1fkz",
                "config": {
                    "labelField": "ID_Dossier",
                    "triggerField": "Date_Création"
                },
                "formula": "",
                "maxRecords": 1,
                "__IMTCONN__": 5738813,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Cherche Nouveau Dossier"
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "BDD Alxor os V2 -DEV 022026"
                        },
                        "view": {
                            "label": "Grid view"
                        },
                        "table": {
                            "label": "Dossiers"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "ID_Dossier"
                                },
                                "triggerField": {
                                    "label": "Date_Création"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "BDD Aloxor os V2 (User ID: usr3uezCqJvbKjBqW)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID_Dossier",
                        "type": "text",
                        "label": "ID_Dossier"
                    },
                    {
                        "name": "Contact",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Contact"
                    },
                    {
                        "name": "Type_Contrat",
                        "type": "text",
                        "label": "Type_Contrat"
                    },
                    {
                        "name": "Statut_Dossier",
                        "type": "text",
                        "label": "Statut_Dossier"
                    },
                    {
                        "name": "GES Score",
                        "type": "number",
                        "label": "GES Score"
                    },
                    {
                        "name": "Phase",
                        "type": "text",
                        "label": "Phase"
                    },
                    {
                        "name": "Source",
                        "type": "text",
                        "label": "Source"
                    },
                    {
                        "name": "Message_Initial",
                        "type": "text",
                        "label": "Message_Initial",
                        "multiline": true
                    },
                    {
                        "name": "Notes_Courtier",
                        "type": "text",
                        "label": "Notes_Courtier",
                        "multiline": true
                    },
                    {
                        "name": "RI_Contact",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "RI_Contact"
                    },
                    {
                        "name": "Immatriculation_Véhicule",
                        "type": "text",
                        "label": "Immatriculation_Véhicule"
                    },
                    {
                        "name": "Date_Permis_De_Conduire",
                        "time": false,
                        "type": "date",
                        "label": "Date_Permis_De_Conduire"
                    },
                    {
                        "name": "Date_Création",
                        "type": "date",
                        "label": "Date_Création"
                    },
                    {
                        "name": "Montant_Prime_Annuelle",
                        "type": "number",
                        "label": "Montant_Prime_Annuelle"
                    },
                    {
                        "name": "Date_Signature",
                        "time": false,
                        "type": "date",
                        "label": "Date_Signature"
                    },
                    {
                        "name": "Date_Debut_Contrat",
                        "time": false,
                        "type": "date",
                        "label": "Date_Debut_Contrat"
                    },
                    {
                        "name": "Numero_Police",
                        "type": "text",
                        "label": "Numero_Police"
                    },
                    {
                        "name": "Date_Fin_Contrat",
                        "time": false,
                        "type": "date",
                        "label": "Date_Fin_Contrat"
                    },
                    {
                        "name": "Motif_Fin_Contrat",
                        "type": "text",
                        "label": "Motif_Fin_Contrat"
                    },
                    {
                        "name": "Dernière_Activité",
                        "type": "date",
                        "label": "Dernière_Activité"
                    },
                    {
                        "name": "Apporteurs",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Apporteurs"
                    },
                    {
                        "name": "Montant_Prime_HT",
                        "type": "number",
                        "label": "Montant_Prime_HT"
                    },
                    {
                        "name": "Taux_Commission",
                        "type": "number",
                        "label": "Taux_Commission"
                    },
                    {
                        "name": "Tx_Com_Dossier_Applique",
                        "type": "number",
                        "label": "Tx_Com_Dossier_Applique"
                    },
                    {
                        "name": "Montant_Comm_Apporteur",
                        "type": "text",
                        "label": "Montant_Comm_Apporteur"
                    },
                    {
                        "name": "Total_Reverse_Apporteur",
                        "type": "array",
                        "label": "Total_Reverse_Apporteur"
                    },
                    {
                        "name": "Comms_Dossier_En_Attente",
                        "type": "array",
                        "label": "Comms_Dossier_En_Attente"
                    },
                    {
                        "name": "Fractionnement",
                        "type": "text",
                        "label": "Fractionnement"
                    },
                    {
                        "name": "Montant_Commission_Annuelle",
                        "type": "text",
                        "label": "Montant_Commission_Annuelle"
                    },
                    {
                        "name": "Commission_Fractionnee",
                        "type": "text",
                        "label": "Commission_Fractionnee"
                    },
                    {
                        "name": "IA_Statut",
                        "type": "text",
                        "label": "IA_Statut"
                    },
                    {
                        "name": "IA_Verdict_Conformite",
                        "type": "text",
                        "label": "IA_Verdict_Conformite",
                        "multiline": true
                    },
                    {
                        "name": "Documents",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Documents"
                    },
                    {
                        "name": "RI_Traité",
                        "type": "boolean",
                        "label": "RI_Traité"
                    },
                    {
                        "name": "RI_Date_Traitement",
                        "time": false,
                        "type": "date",
                        "label": "RI_Date_Traitement"
                    },
                    {
                        "name": "RI_Compagnie_Précédente",
                        "type": "text",
                        "label": "RI_Compagnie_Précédente"
                    },
                    {
                        "name": "RI_Bonus_Malus",
                        "type": "number",
                        "label": "RI_Bonus_Malus"
                    },
                    {
                        "name": "RI_Nb_Sinistres",
                        "type": "number",
                        "label": "RI_Nb_Sinistres"
                    },
                    {
                        "name": "Type_Sinistres",
                        "type": "text",
                        "label": "Type_Sinistres",
                        "multiline": true
                    },
                    {
                        "name": "RI_Résilié",
                        "type": "boolean",
                        "label": "RI_Résilié"
                    },
                    {
                        "name": "Compagnies_et_Partenariats",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Compagnies_et_Partenariats"
                    },
                    {
                        "name": "Lien_Compagnie",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Lien_Compagnie"
                    },
                    {
                        "name": "Code_Portefeuille (Lookup)",
                        "type": "array",
                        "label": "Code_Portefeuille (Lookup)"
                    },
                    {
                        "name": "Taux_Com_Appliqué (Lookup)",
                        "type": "array",
                        "label": "Taux_Com_Appliqué (Lookup)"
                    },
                    {
                        "name": "URL_Extranet_Portail (Lookup)",
                        "type": "array",
                        "label": "URL_Extranet_Portail (Lookup)"
                    },
                    {
                        "name": "Commissions_Entrantes",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Commissions_Entrantes"
                    },
                    {
                        "name": "Flux_Comm_Apporteurs",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Flux_Comm_Apporteurs"
                    },
                    {
                        "name": "Cabinet_Tenant",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Cabinet_Tenant"
                    },
                    {
                        "name": "Taux_Apporteur",
                        "type": "array",
                        "label": "Taux_Apporteur"
                    },
                    {
                        "name": "RI_JSON",
                        "type": "text",
                        "label": "RI_JSON",
                        "multiline": true
                    },
                    {
                        "name": "Flux_Comm_Cabinet",
                        "type": "text",
                        "label": "Flux_Comm_Cabinet"
                    },
                    {
                        "name": "Flux_Comm_Cabinet 2",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Flux_Comm_Cabinet 2"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 2,
            "module": "http:DownloadFile",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth"
            },
            "filter": {
                "name": "RI Contact existe",
                "conditions": [
                    [
                        {
                            "a": "{{1.RI_Contact[].url}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "url": "{{1.RI_Contact[].url}}",
                "shareCookies": false,
                "stopOnHttpError": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Télécharge le RI"
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "dropbox:uploadLargeFile",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 6412772
            },
            "mapper": {
                "data": "{{2.data}}",
                "path": "/GED_Alxor/{{1.Cabinet_Tenant[]}}/{{1.Contact[]}}/{{1.ID_Dossier}}",
                "filename": "{{2.fileName}}",
                "overwrite": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "Envoi le RI en GED"
                },
                "restore": {
                    "expect": {
                        "path": {
                            "mode": "edit"
                        },
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "Dropbox_n.duarte72 (n.invest72@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "path",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing file",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "dropbox:createShareLink",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 6412772
            },
            "mapper": {
                "path": "{{3.path_lower}}",
                "select": "map",
                "settings": {
                    "access": "viewer"
                }
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Créé le lien visualisation"
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Map a file/folder path"
                        },
                        "settings": {
                            "nested": {
                                "access": {
                                    "mode": "chose",
                                    "label": "Viewer"
                                },
                                "allow_download": {
                                    "mode": "chose"
                                },
                                "require_password": {
                                    "mode": "chose"
                                },
                                "requested_visibility": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "Dropbox_n.duarte72 (n.invest72@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Way of selecting files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "file"
                            ]
                        }
                    },
                    {
                        "name": "settings",
                        "spec": [
                            {
                                "name": "access",
                                "type": "select",
                                "label": "Link's Access Level",
                                "validate": {
                                    "enum": [
                                        "viewer",
                                        "editor",
                                        "max"
                                    ]
                                }
                            },
                            {
                                "name": "expires",
                                "time": true,
                                "type": "date",
                                "label": "Link's Expiration Date"
                            },
                            {
                                "name": "require_password",
                                "type": "boolean",
                                "label": "Require Password"
                            },
                            {
                                "name": "link_password",
                                "type": "text",
                                "label": "Link's Password"
                            },
                            {
                                "name": "allow_download",
                                "type": "boolean",
                                "label": "Allow Download"
                            },
                            {
                                "name": "requested_visibility",
                                "type": "select",
                                "label": "Requested Visibility (Deprecated)",
                                "validate": {
                                    "enum": [
                                        "public",
                                        "team_only",
                                        "password"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Settings"
                    },
                    {
                        "name": "path",
                        "type": "text",
                        "label": "File Path",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5738813
            },
            "mapper": {
                "base": "apprtejZaap5ouqGm",
                "table": "tblfxKmkeklx4FyGY",
                "record": {
                    "fldZ7pj1em4vkor0U": "{{now}}",
                    "flddL6fHg2zt1oYl5": "{{4.url}}",
                    "flddZUDWDRJKBAIEE": "{{3.path_lower}}",
                    "fldklkePqbeThTU8h": "{{1.RI_Contact[].filename}}",
                    "fldrQ1g1E1tqR01rR": [
                        "{{1.id}}"
                    ],
                    "flduq6aZQ6siMBM4k": "Relevé Informations"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Ajoute le RI Dans Table Documents"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "BDD Alxor os V2 -DEV 022026"
                        },
                        "table": {
                            "label": "Documents",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldklkePqbeThTU8h",
                                            "type": "text",
                                            "label": "Nom_Fichier"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "flduq6aZQ6siMBM4k",
                                            "type": "select",
                                            "label": "Type_Document",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "Relevé Informations",
                                                    "value": "Relevé Informations"
                                                },
                                                {
                                                    "label": "Pièce Identité",
                                                    "value": "Pièce Identité"
                                                },
                                                {
                                                    "label": "Justificatif Domicile",
                                                    "value": "Justificatif Domicile"
                                                },
                                                {
                                                    "label": "Contrat",
                                                    "value": "Contrat"
                                                },
                                                {
                                                    "label": "Autre",
                                                    "value": "Autre"
                                                },
                                                {
                                                    "label": "Carte Grise Barrée",
                                                    "value": "Carte Grise Barrée"
                                                },
                                                {
                                                    "label": "CPI ",
                                                    "value": "CPI "
                                                },
                                                {
                                                    "label": "Carte Grise Définitive",
                                                    "value": "Carte Grise Définitive"
                                                },
                                                {
                                                    "label": "Devis / Projet",
                                                    "value": "Devis / Projet"
                                                },
                                                {
                                                    "label": "Questionnaire",
                                                    "value": "Questionnaire"
                                                },
                                                {
                                                    "label": "Fiche Information Conseil",
                                                    "value": "Fiche Information Conseil"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldrQ1g1E1tqR01rR",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "Dossier"
                                        },
                                        {
                                            "name": "fld56kBbL4HLVca25",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "Contact"
                                        },
                                        {
                                            "name": "fldZ7pj1em4vkor0U",
                                            "time": false,
                                            "type": "date",
                                            "label": "Date_Upload"
                                        },
                                        {
                                            "name": "flddL6fHg2zt1oYl5",
                                            "type": "text",
                                            "label": "Dropbox_URL"
                                        },
                                        {
                                            "name": "flddZUDWDRJKBAIEE",
                                            "type": "text",
                                            "label": "Dropbox_Path"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fld56kBbL4HLVca25": {
                                    "mode": "chose"
                                },
                                "fldrQ1g1E1tqR01rR": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "flduq6aZQ6siMBM4k": {
                                    "mode": "chose",
                                    "label": "Relevé Informations"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "BDD Aloxor os V2 (User ID: usr3uezCqJvbKjBqW)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldklkePqbeThTU8h",
                                "type": "text",
                                "label": "Nom_Fichier"
                            },
                            {
                                "mode": "edit",
                                "name": "flduq6aZQ6siMBM4k",
                                "type": "select",
                                "label": "Type_Document"
                            },
                            {
                                "name": "fldrQ1g1E1tqR01rR",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Dossier"
                            },
                            {
                                "name": "fld56kBbL4HLVca25",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Contact"
                            },
                            {
                                "name": "fldZ7pj1em4vkor0U",
                                "time": false,
                                "type": "date",
                                "label": "Date_Upload"
                            },
                            {
                                "name": "flddL6fHg2zt1oYl5",
                                "type": "text",
                                "label": "Dropbox_URL"
                            },
                            {
                                "name": "flddZUDWDRJKBAIEE",
                                "type": "text",
                                "label": "Dropbox_Path"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Nom_Fichier",
                        "type": "text",
                        "label": "Nom_Fichier"
                    },
                    {
                        "name": "Type_Document",
                        "type": "text",
                        "label": "Type_Document"
                    },
                    {
                        "name": "Statut_Document",
                        "type": "text",
                        "label": "Statut_Document"
                    },
                    {
                        "name": "Document_Conforme",
                        "type": "boolean",
                        "label": "Document_Conforme"
                    },
                    {
                        "name": "Dossier",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Dossier"
                    },
                    {
                        "name": "Date_Upload",
                        "time": false,
                        "type": "date",
                        "label": "Date_Upload"
                    },
                    {
                        "name": "Dropbox_URL",
                        "type": "text",
                        "label": "Dropbox_URL"
                    },
                    {
                        "name": "Dropbox_Path",
                        "type": "text",
                        "label": "Dropbox_Path"
                    },
                    {
                        "name": "Cabinet_Tenant",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Cabinet_Tenant"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "apiKeyKeychain": 133690,
                "authenticationType": "apiKey"
            },
            "mapper": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{GEMINI_API_KEY_MAKE}}",
                "method": "post",
                "headers": [
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\"generationConfig\":{\"response_mime_type\":\"application/json\"},\"system_instruction\":{\"parts\":[{\"text\":\"Tu es un assistant specialise dans l extraction de donnees de releves d information auto francais. Retourne uniquement un objet JSON valide sans texte avant ou apres. La structure exacte est la suivante : un objet avec les cles meta, bonus_malus, conducteurs, vehicule, sinistres, resiliation. La cle meta contient compagnie_precedente, numero_contrat, date_releve, date_effet_contrat, date_resiliation, souscripteur_nom_complet. La cle meta date_resiliation contient la date de fin de contrat au format YYYY-MM-DD si le contrat est resilie sinon elle contient la valeur En cours. La cle meta souscripteur_nom_complet contient le Prenom et le Nom du titulaire du contrat tels qu ils apparaissent dans le document. La cle bonus_malus contient coefficient en nombre decimal et date_echeance. La cle conducteurs est un tableau d objets avec type valeur principale ou secondaire, nom, prenom, date_naissance, date_permis, categorie_permis. La cle vehicule contient immatriculation, marque, modele, usage. La cle sinistres est un tableau d objets avec date, nature valeur responsable ou non_responsable ou partielle, type valeur corporel ou materiel ou vol ou bris_de_glace ou autre, conducteur_responsable booleen. La cle resiliation contient resilie_par_assureur booleen et motif. Toutes les dates sont au format YYYY-MM-DD. Toute valeur absente est null. Inclure tous les sinistres des 36 derniers mois sans exception. Ne pas inclure les lignes de totaux.\"}]},\"contents\":[{\"role\":\"user\",\"parts\":[{\"inline_data\":{\"mime_type\":\"application/pdf\",\"data\":\"{{base64(2.data)}}\"}},{\"text\":\"Extrais toutes les donnees de ce releve d information auto.\"}]}]}",
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Extrait Information RI"
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "apiKeyKeychain": {
                            "label": "My API Key Auth key"
                        },
                        "authenticationType": {
                            "label": "API keyUse when the service requires an API key."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    },
                    {
                        "name": "apiKeyKeychain",
                        "type": "keychain:apikeyauth",
                        "label": "Credentials",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 366049
            },
            "mapper": {
                "json": "{{6.data.candidates[].content.parts[].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "Génère Récapitulatif pour Cotation"
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Données_Cotation_Auto"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "Résumé pour Cotation Auto",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": null,
            "mapper": {
                "name": "Nb mois cumulés",
                "scope": "roundtrip",
                "value": "{{round(abs((if(7.meta.date_resiliation != \"En cours\" & 7.meta.date_resiliation != null; parseDate(7.meta.date_resiliation; \"YYYY-MM-DD\"); now) - parseDate(7.meta.date_effet_contrat; \"YYYY-MM-DD\")) / 2629746000))}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "Calcul le nombre de mois"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Nb mois cumulés",
                        "type": "any",
                        "label": "Nb mois cumulés"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5738813
            },
            "mapper": {
                "id": "{{1.id}}",
                "base": "apprtejZaap5ouqGm",
                "table": "tblh45gV9PZcN1fkz",
                "record": {
                    "fld9dx4y7QZE0QDTZ": "{{7.sinistres[].type}}",
                    "fld9qQ5zb92960VjE": "{{now}}",
                    "fldEqwl0rwkEYzPfL": "{{7.bonus_malus.coefficient}}",
                    "fldIwU3SkqSGPEe5p": "{{6.data.candidates[].content.parts[].text}}",
                    "fldgcXMZWC0MLF7jB": "{{if(7.resiliation.resilie_par_assureur = \"true\"; true; false)}}",
                    "fldj7WFGk3QjYClzq": "{{length(7.sinistres)}}",
                    "fldjhreRmZplztL4y": "{{7.meta.compagnie_precedente}}",
                    "fldqi10oasSjNMu3h": "{{7.resiliation.motif}}",
                    "fldtmOdie1myIYHoX": "{{true}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0,
                    "name": "Créer Données RI dans Table Dossiers"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "BDD Alxor os V2 -DEV 022026"
                        },
                        "table": {
                            "label": "Dossiers"
                        },
                        "record": {
                            "nested": {
                                "fld3WPnKtLn9rC3fs": {
                                    "mode": "edit"
                                },
                                "fld6wD8Zz1rknuV40": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "fldCBlqhePef46WeX": {
                                    "mode": "chose"
                                },
                                "fldFRPn013tj8ZuOU": {
                                    "mode": "chose"
                                },
                                "fldGXmoydLIjNcwu0": {
                                    "mode": "chose"
                                },
                                "fldI5B0jlHk2qrQfh": {
                                    "mode": "chose"
                                },
                                "fldJoPfafaBK22N6g": {
                                    "mode": "chose"
                                },
                                "fldJwVOYM5660J5Lk": {
                                    "mode": "chose"
                                },
                                "fldNRxuCbLuUuAYGI": {
                                    "mode": "edit"
                                },
                                "fldRhe1eKhBNH0uTg": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "fldSIxTrm2P7Yrj5J": {
                                    "mode": "chose"
                                },
                                "fldXtC5LPQJSB9Lgw": {
                                    "mode": "chose"
                                },
                                "fldcxlD1Hu5QVjfu4": {
                                    "mode": "chose"
                                },
                                "flddCTvjbBf4bSl5Y": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "fldem8qSpedXjaA3W": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "fldgcXMZWC0MLF7jB": {
                                    "mode": "edit"
                                },
                                "fldpWkD6c4vIYzOmO": {
                                    "mode": "chose"
                                },
                                "fldtmOdie1myIYHoX": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "BDD Aloxor os V2 (User ID: usr3uezCqJvbKjBqW)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldcxlD1Hu5QVjfu4",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Contact"
                            },
                            {
                                "mode": "edit",
                                "name": "flddCTvjbBf4bSl5Y",
                                "type": "select",
                                "label": "Type_Contrat"
                            },
                            {
                                "mode": "edit",
                                "name": "fld6wD8Zz1rknuV40",
                                "type": "select",
                                "label": "Statut_Dossier"
                            },
                            {
                                "name": "fldIBfXqNsyf3dXQ6",
                                "type": "number",
                                "label": "GES Score"
                            },
                            {
                                "mode": "edit",
                                "name": "fldem8qSpedXjaA3W",
                                "type": "select",
                                "label": "Source"
                            },
                            {
                                "name": "fldS1ReqnTdyaFiwc",
                                "type": "text",
                                "label": "Message_Initial"
                            },
                            {
                                "name": "fldpmYfHPsrd3k5RV",
                                "type": "text",
                                "label": "Notes_Courtier"
                            },
                            {
                                "name": "fldFRPn013tj8ZuOU",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "RI_Contact"
                            },
                            {
                                "name": "fldvBrEMZSsu71glc",
                                "type": "text",
                                "label": "Immatriculation_Véhicule"
                            },
                            {
                                "name": "fld17cQ1ASkxWqGXY",
                                "time": false,
                                "type": "date",
                                "label": "Date_Permis_De_Conduire"
                            },
                            {
                                "name": "fldQJ1d0dsfJJBEb1",
                                "type": "number",
                                "label": "Montant_Prime_Annuelle"
                            },
                            {
                                "name": "fldXQtABi2wsKrUu4",
                                "time": false,
                                "type": "date",
                                "label": "Date_Signature"
                            },
                            {
                                "name": "fldjPTg2aAwI8Uj6R",
                                "time": false,
                                "type": "date",
                                "label": "Date_Debut_Contrat"
                            },
                            {
                                "name": "fldchaWgDmIAIPyRD",
                                "type": "text",
                                "label": "Numero_Police"
                            },
                            {
                                "name": "fld3JywRLt39QdbfO",
                                "time": false,
                                "type": "date",
                                "label": "Date_Fin_Contrat"
                            },
                            {
                                "mode": "edit",
                                "name": "fldNRxuCbLuUuAYGI",
                                "type": "select",
                                "label": "Motif_Fin_Contrat"
                            },
                            {
                                "name": "fldI5B0jlHk2qrQfh",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Apporteurs"
                            },
                            {
                                "name": "fldjCpGuaP46Ja2hx",
                                "type": "number",
                                "label": "Montant_Prime_HT"
                            },
                            {
                                "name": "fldaD9OecXHOMUTm5",
                                "type": "number",
                                "label": "Taux_Commission"
                            },
                            {
                                "name": "fldEBEqLvLbd6NLW7",
                                "type": "number",
                                "label": "Tx_Com_Dossier_Applique"
                            },
                            {
                                "mode": "edit",
                                "name": "fld3WPnKtLn9rC3fs",
                                "type": "select",
                                "label": "Fractionnement"
                            },
                            {
                                "mode": "edit",
                                "name": "fldRhe1eKhBNH0uTg",
                                "type": "select",
                                "label": "IA_Statut"
                            },
                            {
                                "name": "fldubeXdsz1r0JqNS",
                                "type": "text",
                                "label": "IA_Verdict_Conformite"
                            },
                            {
                                "name": "fldXtC5LPQJSB9Lgw",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Documents"
                            },
                            {
                                "name": "fldIwU3SkqSGPEe5p",
                                "type": "text",
                                "label": "RI_JSON"
                            },
                            {
                                "name": "fldtmOdie1myIYHoX",
                                "type": "boolean",
                                "label": "RI_Traité"
                            },
                            {
                                "name": "fld9qQ5zb92960VjE",
                                "time": false,
                                "type": "date",
                                "label": "RI_Date_Traitement"
                            },
                            {
                                "name": "fldjhreRmZplztL4y",
                                "type": "text",
                                "label": "RI_Compagnie_Précédente"
                            },
                            {
                                "name": "fldEqwl0rwkEYzPfL",
                                "type": "number",
                                "label": "RI_Bonus_Malus"
                            },
                            {
                                "name": "fldj7WFGk3QjYClzq",
                                "type": "number",
                                "label": "RI_Nb_Sinistres"
                            },
                            {
                                "name": "fld9dx4y7QZE0QDTZ",
                                "type": "text",
                                "label": "Type_Sinistres"
                            },
                            {
                                "name": "fldgcXMZWC0MLF7jB",
                                "type": "boolean",
                                "label": "RI_Résilié"
                            },
                            {
                                "name": "fldqi10oasSjNMu3h",
                                "type": "text",
                                "label": "Motif_Resiliation_RI"
                            },
                            {
                                "name": "fldCBlqhePef46WeX",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Compagnies_et_Partenariats"
                            },
                            {
                                "name": "fldJoPfafaBK22N6g",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Lien_Compagnie"
                            },
                            {
                                "name": "fldSIxTrm2P7Yrj5J",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Commissions_Entrantes"
                            },
                            {
                                "name": "fldpWkD6c4vIYzOmO",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Flux_Comm_Apporteurs"
                            },
                            {
                                "name": "fldGXmoydLIjNcwu0",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Cabinet_Tenant"
                            },
                            {
                                "name": "fldom2AWZZpA4enQp",
                                "type": "text",
                                "label": "Flux_Comm_Cabinet"
                            },
                            {
                                "name": "fldJwVOYM5660J5Lk",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Flux_Comm_Cabinet 2"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID_Dossier",
                        "type": "text",
                        "label": "ID_Dossier"
                    },
                    {
                        "name": "Contact",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Contact"
                    },
                    {
                        "name": "Type_Contrat",
                        "type": "text",
                        "label": "Type_Contrat"
                    },
                    {
                        "name": "Statut_Dossier",
                        "type": "text",
                        "label": "Statut_Dossier"
                    },
                    {
                        "name": "GES Score",
                        "type": "number",
                        "label": "GES Score"
                    },
                    {
                        "name": "Phase",
                        "type": "text",
                        "label": "Phase"
                    },
                    {
                        "name": "Source",
                        "type": "text",
                        "label": "Source"
                    },
                    {
                        "name": "Message_Initial",
                        "type": "text",
                        "label": "Message_Initial",
                        "multiline": true
                    },
                    {
                        "name": "Notes_Courtier",
                        "type": "text",
                        "label": "Notes_Courtier",
                        "multiline": true
                    },
                    {
                        "name": "RI_Contact",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "RI_Contact"
                    },
                    {
                        "name": "Immatriculation_Véhicule",
                        "type": "text",
                        "label": "Immatriculation_Véhicule"
                    },
                    {
                        "name": "Date_Permis_De_Conduire",
                        "time": false,
                        "type": "date",
                        "label": "Date_Permis_De_Conduire"
                    },
                    {
                        "name": "Date_Création",
                        "type": "date",
                        "label": "Date_Création"
                    },
                    {
                        "name": "Montant_Prime_Annuelle",
                        "type": "number",
                        "label": "Montant_Prime_Annuelle"
                    },
                    {
                        "name": "Date_Signature",
                        "time": false,
                        "type": "date",
                        "label": "Date_Signature"
                    },
                    {
                        "name": "Date_Debut_Contrat",
                        "time": false,
                        "type": "date",
                        "label": "Date_Debut_Contrat"
                    },
                    {
                        "name": "Numero_Police",
                        "type": "text",
                        "label": "Numero_Police"
                    },
                    {
                        "name": "Date_Fin_Contrat",
                        "time": false,
                        "type": "date",
                        "label": "Date_Fin_Contrat"
                    },
                    {
                        "name": "Motif_Fin_Contrat",
                        "type": "text",
                        "label": "Motif_Fin_Contrat"
                    },
                    {
                        "name": "Dernière_Activité",
                        "type": "date",
                        "label": "Dernière_Activité"
                    },
                    {
                        "name": "Apporteurs",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Apporteurs"
                    },
                    {
                        "name": "Montant_Prime_HT",
                        "type": "number",
                        "label": "Montant_Prime_HT"
                    },
                    {
                        "name": "Taux_Commission",
                        "type": "number",
                        "label": "Taux_Commission"
                    },
                    {
                        "name": "Taux_Apporteur",
                        "type": "array",
                        "label": "Taux_Apporteur"
                    },
                    {
                        "name": "Tx_Com_Dossier_Applique",
                        "type": "number",
                        "label": "Tx_Com_Dossier_Applique"
                    },
                    {
                        "name": "Montant_Comm_Apporteur",
                        "type": "text",
                        "label": "Montant_Comm_Apporteur"
                    },
                    {
                        "name": "Total_Reverse_Apporteur",
                        "type": "array",
                        "label": "Total_Reverse_Apporteur"
                    },
                    {
                        "name": "Comms_Dossier_En_Attente",
                        "type": "array",
                        "label": "Comms_Dossier_En_Attente"
                    },
                    {
                        "name": "Fractionnement",
                        "type": "text",
                        "label": "Fractionnement"
                    },
                    {
                        "name": "Montant_Commission_Annuelle",
                        "type": "text",
                        "label": "Montant_Commission_Annuelle"
                    },
                    {
                        "name": "Commission_Fractionnee",
                        "type": "text",
                        "label": "Commission_Fractionnee"
                    },
                    {
                        "name": "IA_Statut",
                        "type": "text",
                        "label": "IA_Statut"
                    },
                    {
                        "name": "IA_Verdict_Conformite",
                        "type": "text",
                        "label": "IA_Verdict_Conformite",
                        "multiline": true
                    },
                    {
                        "name": "Documents",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Documents"
                    },
                    {
                        "name": "RI_JSON",
                        "type": "text",
                        "label": "RI_JSON",
                        "multiline": true
                    },
                    {
                        "name": "RI_Traité",
                        "type": "boolean",
                        "label": "RI_Traité"
                    },
                    {
                        "name": "RI_Date_Traitement",
                        "time": false,
                        "type": "date",
                        "label": "RI_Date_Traitement"
                    },
                    {
                        "name": "RI_Compagnie_Précédente",
                        "type": "text",
                        "label": "RI_Compagnie_Précédente"
                    },
                    {
                        "name": "RI_Bonus_Malus",
                        "type": "number",
                        "label": "RI_Bonus_Malus"
                    },
                    {
                        "name": "RI_Nb_Sinistres",
                        "type": "number",
                        "label": "RI_Nb_Sinistres"
                    },
                    {
                        "name": "Type_Sinistres",
                        "type": "text",
                        "label": "Type_Sinistres",
                        "multiline": true
                    },
                    {
                        "name": "RI_Résilié",
                        "type": "boolean",
                        "label": "RI_Résilié"
                    },
                    {
                        "name": "Motif_Resiliation_RI",
                        "type": "text",
                        "label": "Motif_Resiliation_RI"
                    },
                    {
                        "name": "Compagnies_et_Partenariats",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Compagnies_et_Partenariats"
                    },
                    {
                        "name": "Lien_Compagnie",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Lien_Compagnie"
                    },
                    {
                        "name": "Code_Portefeuille (Lookup)",
                        "type": "array",
                        "label": "Code_Portefeuille (Lookup)"
                    },
                    {
                        "name": "Taux_Com_Appliqué (Lookup)",
                        "type": "array",
                        "label": "Taux_Com_Appliqué (Lookup)"
                    },
                    {
                        "name": "URL_Extranet_Portail (Lookup)",
                        "type": "array",
                        "label": "URL_Extranet_Portail (Lookup)"
                    },
                    {
                        "name": "Commissions_Entrantes",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Commissions_Entrantes"
                    },
                    {
                        "name": "Flux_Comm_Apporteurs",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Flux_Comm_Apporteurs"
                    },
                    {
                        "name": "Cabinet_Tenant",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Cabinet_Tenant"
                    },
                    {
                        "name": "Flux_Comm_Cabinet",
                        "type": "text",
                        "label": "Flux_Comm_Cabinet"
                    },
                    {
                        "name": "Flux_Comm_Cabinet 2",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Flux_Comm_Cabinet 2"
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5738813
            },
            "mapper": {
                "id": "{{1.Contact[]}}",
                "base": "apprtejZaap5ouqGm",
                "table": "tbl9sFkklVymVBKNN",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0,
                    "name": "Recherche Données Contact"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "BDD Alxor os V2 -DEV 022026"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Contacts"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "BDD Aloxor os V2 (User ID: usr3uezCqJvbKjBqW)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID_Contact",
                        "type": "text",
                        "label": "ID_Contact"
                    },
                    {
                        "name": "Nom_Complet",
                        "type": "text",
                        "label": "Nom_Complet"
                    },
                    {
                        "name": "Nom",
                        "type": "text",
                        "label": "Nom"
                    },
                    {
                        "name": "Prénom",
                        "type": "text",
                        "label": "Prénom"
                    },
                    {
                        "name": "Type_Contact",
                        "type": "text",
                        "label": "Type_Contact"
                    },
                    {
                        "name": "Statut_Contact",
                        "type": "text",
                        "label": "Statut_Contact"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Téléphone",
                        "type": "text",
                        "label": "Téléphone"
                    },
                    {
                        "name": "Adresse",
                        "type": "text",
                        "label": "Adresse",
                        "multiline": true
                    },
                    {
                        "name": "Type_Client",
                        "type": "text",
                        "label": "Type_Client"
                    },
                    {
                        "name": "SIRET",
                        "type": "text",
                        "label": "SIRET"
                    },
                    {
                        "name": "Raison_Sociale",
                        "type": "text",
                        "label": "Raison_Sociale"
                    },
                    {
                        "name": "Préférence_Contact",
                        "type": "array",
                        "label": "Préférence_Contact",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Date_Création",
                        "type": "date",
                        "label": "Date_Création"
                    },
                    {
                        "name": "Dernière_Activité",
                        "type": "date",
                        "label": "Dernière_Activité"
                    },
                    {
                        "name": "Dossiers",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Dossiers"
                    },
                    {
                        "name": "Date_Naissance",
                        "time": false,
                        "type": "date",
                        "label": "Date_Naissance"
                    },
                    {
                        "name": "Documents",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Documents"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 7127956
            },
            "mapper": {
                "to": [
                    "easy@easycourtage.fr"
                ],
                "content": "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n<meta charset=\"UTF-8\">\r\n<style>\r\n  body { font-family: Arial, Helvetica, sans-serif; background: #f5f5f5; margin: 0; padding: 20px; }\r\n  .container { max-width: 650px; margin: 0 auto; background: #ffffff; }\r\n  .header { background: #1a1a2e; padding: 24px 32px; }\r\n  .header h1 { color: #ffffff; margin: 0; font-size: 20px; }\r\n  .header p { color: #a0a0b0; margin: 4px 0 0; font-size: 14px; }\r\n  .alert-green { background: #e8f5e9; border-left: 4px solid #4caf50; padding: 12px 20px; font-weight: bold; }\r\n  .section { padding: 20px 32px; border-bottom: 1px solid #eeeeee; }\r\n  .section h2 { font-size: 12px; color: #888; text-transform: uppercase; margin-bottom: 12px; }\r\n  .grid { display: grid; grid-template-columns: 1fr 1fr; gap: 8px; }\r\n  .field { background: #f9f9f9; padding: 8px 12px; }\r\n  .label { font-size: 11px; color: #999; text-transform: uppercase; }\r\n  .value { font-size: 14px; color: #1a1a2e; }\r\n  table { width: 100%; border-collapse: collapse; font-size: 13px; }\r\n  th { background: #f5f5f5; padding: 8px; text-align: left; font-size: 11px; }\r\n  td { padding: 8px; border-bottom: 1px solid #eee; }\r\n  .copy-block { background: #f5f5f5; border: 1px dashed #ccc; padding: 16px; font-family: monospace; font-size: 13px; }\r\n  .footer { padding: 16px; text-align: center; font-size: 12px; color: #999; }\r\n</style>\r\n</head>\r\n\r\n<body>\r\n<div class=\"container\">\r\n\r\n<div class=\"header\">\r\n  <h2>Nouveau dossier {{8.Type_Contrat}} <br></br>Source {{8.Source}} ⚠ Statut  {{8.Phase}} {{8.Statut_Dossier}}</h2>\r\n  <p>Reçu le {{formatDate(now; \"DD-MM-YYYY HH:mm\")}}</p>\r\n</div>\r\n\r\n<div class=\"alert-green\">\r\n  Dossier reçu — Infortmations RI extraites par Alxor-OS\r\n</div>\r\n\r\n<div class=\"section\">\r\n<h2>Contact</h2>\r\n<div class=\"grid\">\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Nom complet :</h3>\r\n<div class=\"value\">{{24.Nom_Complet}}</div>\r\n</div>\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Date de naissance</h3></div>\r\n<div class=\"value\">{{24.Date_Naissance}}</div>\r\n</div>\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Téléphone</h3></div>\r\n<div class=\"value\">{{24.`Téléphone`}}</div>\r\n</div>\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Email</h3></div>\r\n<div class=\"value\">{{24.Email}}</div>\r\n</div>\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Date permis</h3></div>\r\n<div class=\"value\">{{1.Date_Permis_De_Conduire}}</div>\r\n</div>\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Immatriculation</h3></div>\r\n<div class=\"value\">{{1.Immatriculation_Véhicule}}</div>\r\n</div>\r\n\r\n</div>\r\n</div>\r\n\r\n<div class=\"section\">\r\n<h2>Historique assurance</h2>\r\n<div class=\"grid\">\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Compagnie</h3></div>\r\n<div class=\"value\">{{7.meta.compagnie_precedente}}</div>\r\n</div>\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Contrat</h3></div>\r\n<div class=\"value\">{{7.meta.numero_contrat}}</div>\r\n</div>\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Date relevé</h3></div>\r\n<div class=\"value\">{{7.meta.date_releve}}</div>\r\n</div>\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Date effet</h3></div>\r\n<div class=\"value\">{{7.meta.date_effet_contrat}}</div>\r\n</div>\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Date résiliation</h3></div>\r\n<div class=\"value\">{{7.meta.date_resiliation}}</div>\r\n</div>\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Bonus/Malus</h3></div>\r\n<div class=\"value\">{{7.bonus_malus.coefficient}}</div>\r\n</div>\r\n\r\n<div class=\"field\">\r\n<div class=\"label\"><h3>Échéance</h3></div>\r\n<div class=\"value\">{{7.bonus_malus.date_echeance}}</div>\r\n</div>\r\n\r\n<div class=\"field\">\r\n  <div class=\"label\"><h3>Résiliation assureur</h3></div>\r\n  <div class=\"value\">\r\n    {{if(7.resiliation.resilie_par_assureur = true; \"⛔ OUI — \" + 7.resiliation.motif; \"✅ NON\")}}\r\n  </div>\r\n</div>\n\n<div style=\"font-family: 'Inter', Helvetica, Arial, sans-serif; padding: 20px; color: #1e293b;\">\r\n  <h3 style=\"color: #0f172a;\">Nouveau dossier à expertiser</h3>\r\n  <p>Un prospect vient de soumettre un formulaire de risque complexe.</p>\r\n  \r\n  <div style=\"background-color: #f8fafc; border: 1px solid #e2e8f0; padding: 15px; border-radius: 8px; margin: 20px 0;\">\r\n    <strong>Client :</strong> {{24.Nom_Complet}}<br>\r\n    <strong>Risque :</strong> {{8.Type_Contrat}}\r\n  </div>\r\n\r\n  <div style=\"text-align: center; margin-top: 30px;\">\r\n    <a href=\"https://ton-portail.fr/login-admin?redirect={{8.id}}\" \r\n       style=\"background-color: #000000; color: #ffffff; padding: 12px 25px; text-decoration: none; border-radius: 6px; font-weight: 500; display: inline-block;\">\r\n       Accéder au Dossier Expert\r\n    </a>\r\n  </div>\r\n  \r\n  <p style=\"font-size: 12px; color: #64748b; margin-top: 40px;\">\r\n    Ceci est une notification automatique de votre instance ALXOR-OS.\r\n  </p>\r\n</div>\r\n\r\n</div>\r\n</div>\r\n\r\n<div class=\"footer\">\r\nEmail généré par ALxor-OS — {{formatDate(now; \"DD/MM/YYYY HH:mm\")}}\r\n</div>\r\n\r\n</div>\r\n</body>\r\n</html>",
                "subject": "Nouvelle sollicitation  {{8.Type_Contrat}}  de {{24.Nom_Complet}}.",
                "bodyType": "rawHtml"
            },
            "metadata": {
                "designer": {
                    "x": 3000,
                    "y": 0,
                    "name": "Envoi email courtier"
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "tr@easycourtage"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}